page-rendiciones {
  .item-md p {
    /*margin: 0 0 2px;*/
    overflow: inherit;
    font-size: 0.8em;
    line-height: normal;
    text-overflow: inherit;
    color: #666;
    font-style: italic;
  }
  .border-bottom-item {
    border-bottom-color: #51CFB1;
    border-bottom-style: solid;
  }
}
