<!--
  Generated template for the RendicionesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header color="green-500">

  <ion-navbar color="green-500">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Rendiciones</ion-title>
    <!--
      <ion-icon name="close-circle" float-right (click)="logout()"></ion-icon>
    -->

  </ion-navbar>
  <ion-toolbar>

    <ion-fab middle left edge>
      <button ion-fab mini  color="secondary">{{ countRendiciones }}</button>
    </ion-fab>
    <ion-row class="bg-green-pastel-6 fg-brown">
      <ion-col col-2>
      </ion-col>
      <ion-col col-2 text-right *ngIf="config.puedeCrearRendicion(0)">

        <button ion-button class="bg-green-pastel-4">
          <ion-icon name="add" (click)="goToDetailsNuevo(0)"></ion-icon>
        </button>
      </ion-col>
      <ion-col col-2 text-left>
        <button ion-button color="secondary" (click)="clearData()">
          <ion-icon name="sync"></ion-icon>
        </button>
      </ion-col>
      <ion-col col-2 text-left>
        <button ion-button color="secondary" (click)="filterData()">
          <ion-icon name="search"></ion-icon>
        </button>
      </ion-col>

      <ion-col col-4>
        <i class="icon ion-search placeholder-icon"></i>
        <ion-input type="text" value="" placeholder="Buscar" id="txtNombreBuscar"></ion-input>
      </ion-col>
    </ion-row>
  </ion-toolbar>

</ion-header>


<ion-content padding>
  <ion-fab top right edge>
    <button ion-fab mini (click)="logout()" color="dark"><ion-icon name="close"></ion-icon></button>
  </ion-fab>
  <!-- contenido de la lista -->
  <ion-chip color="secondary">
    <ion-label><ion-icon name="help" style="font-size: small;"></ion-icon>&nbsp;Arratre el ítem a la derecha para ver las opciones</ion-label>
  </ion-chip>

  <ion-segment [(ngModel)]="icons" color="secondary">
    <ion-segment-button value="list">
      <ion-icon name="list"></ion-icon>
    </ion-segment-button>
    <ion-segment-button value="stats">
      <ion-icon name="stats"></ion-icon>
    </ion-segment-button>
  </ion-segment>

  <ion-row [ngSwitch]="icons" style="display: block;">
    <ion-list *ngSwitchCase="'list'">
      <!-- listado de usuarios -->
      <ion-list>

        <ion-item-sliding *ngFor="let item of rendicionData">
          <ion-item>

            <h2 class="font-bold">{{ item.NombreCompleto }}</h2>
            <h3 class="font-italic"><ion-icon name="contact"></ion-icon> {{ item.OtroUno }}</h3>
            <p class="font-ocho-em"><ion-icon name="information-circle"></ion-icon><strong> {{ item.OtroCuatro }}</strong>, Número Comprobante {{ item.OtroDos }}</p>

          </ion-item>
          <ion-item-options side="left">
            <button ion-button color="primary" (click)="goToDetails(item)" *ngIf="muestraBotonEliminar(item) && config.verBotonModificarRendicion(0)">
              <ion-icon name="create"></ion-icon>
              <ion-label style="font-size: xx-small;" text-center>Editar</ion-label>
            </button>
            <button ion-button color="danger" (click)="eliminar(item)" *ngIf="muestraBotonEliminar(item) && config.verBotonEliminarrRendicion(0)">
              <ion-icon name="trash"></ion-icon>
              <ion-label style="font-size: xx-small;" text-center>Eliminar</ion-label>
            </button>
          </ion-item-options>
        </ion-item-sliding>
      </ion-list>

    </ion-list>
    <ion-list *ngSwitchCase="'stats'" style="display: block;">
      <!-- chart -->

        <chart [options]="chartOptions" type="chart" style="display: block;">

        </chart>

    </ion-list>
  </ion-row>





</ion-content>

<ion-footer no-border class="secondary">
  <ion-toolbar row>

    <ion-icon name="md-person" style="font-size: 1.2em;" col></ion-icon>
    <label ion-text col>{{ nombreUsuario }}</label>
  </ion-toolbar>
</ion-footer>
