// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
.fg-green{
  background-color: #51CFB1;
}
.toolbar-background-md {
  border-color: #b2b2b2;
  background: #51CFB1;
}
.toolbar-background-ios {
  border-color: #b2b2b2;
  background: #51CFB1;
}
.card-md {
  margin: 10px;
  border-radius: 2px;
  width: calc(100% - 20px);
  font-size: 1.4rem;
  background: #fff;
}
.card-ios {
  margin: 10px;
  border-radius: 2px;
  width: calc(100% - 20px);
  font-size: 1.4rem;
  background: #fff;
}
.bg-aliceblue{
  background-color: aliceblue;
}
.bg-antiquewhite{
  background-color: antiquewhite;
}
.bg-aqua{
  background-color: aqua;
}
.bg-blanchedalmond{
  background: blanchedalmond;
}
.bg-green-pastel-1{
  background-color: #7e9e7f;
}
.bg-green-pastel-2{
  background-color: #5687bb;
}
.bg-green-pastel-3{
  background-color: #d5e7fb;
}
.bg-green-pastel-4{
  background-color: #f0ae36;
}
.bg-green-pastel-5{
  background-color: #b85712;
}
.bg-green-pastel-6{
  background-color: #a9ffc6;
}
.fg-white{
  color:white;
}
.fg-size-20{
  font-size: 20px;
}
.bd-white{
  border-color: white;
}
.no-border{
  border-style: none;
}
.fg-font-size-18{
  font-size: 18px;
}
.fg-font-size-22{
  font-size: 22px;
}
.fg-gris{
  color: #69717d;
}
.fg-brown{
  color: brown;
}
.bd-gris-inferior{
  border-bottom: 0.55px solid #c8c7cc;
}
.cuadroCalendario{
  /* margin: 10px; */
  border-radius: 2px;
  /* width: calc(100% - 20px); */
  font-size: 1.4rem;
  background: #fff;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}
.no-padding{
  padding:0;}
.no-margin{
  margin:0;}
.font-bold{
  font-weight: bold;
}
.font-italic{
  font-style: italic;
}
.font-ocho-em{
  font-size: 0.8em;
}
